* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: #f9f7f4;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background: white;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.logo img {
    width: 125px;
    margin-right: 15px;
}

.navbar nav a {
    margin-left: 40px;
    text-decoration: none;
    font-size: 22px;
    color: #444;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: center;
    padding: 60px 40px;
}

.hero-left img {
    width: 520px;
    border-radius: 10px;
    margin-left: -60px;
  
}

.hero-right {
    margin-left: 60px;
    max-width: 550px;
}

.hero-right h1 {
    font-size: 40px;
    font-weight: 900;
    color: #000;
    margin-bottom: 25px;
    line-height: 1.3;
}

.hero-desc {
    font-size: 22px;
    background: #b99673;
    padding: 25px;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.track-btn {
    background: linear-gradient(#f7d16e, #e3b84e);
    border: none;
    padding: 18px 40px;
    font-size: 28px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 90px;
}

/* SUBSCRIBE */
.subscribe {
    background: #f2ebe4;
    padding: 70px 40px;
    text-align: center;
}

.subscribe h2 {
    font-size: 45px;
    color: #8c6d54;
    margin-bottom: 40px;
}

#subscribeForm {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 28%;
    min-width: 250px;
    margin-bottom: 20px;
}

.input-group label {
    margin-bottom: 8px;
    font-size: 16px;
}

.input-group input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Email box */
.email-box {
    display: flex;
    align-items: center;
}

.email-box input {
    flex: 1;
    border-radius: 8px 0 0 8px;
}

.submit-btn {
    background: #4d8cff;
    border: none;
    padding: 13px 20px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0 8px 8px 0;
}
